body {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: linear-gradient(#e3f6fd, #ffffff);
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background: transparent;
}
  
.name {
    font-weight: bold;
    font-size: 1.2rem;
}
  
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}
  
.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
  
.intro-card {
    max-width: 900px;
    background: white;
    margin: 4rem auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow: hidden;
}
  
.card-header {
    height: 30px;
    background: #4cc9f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
  
.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem;
    gap: 2rem;
    flex-wrap: wrap;
}
  
.intro-text {
    flex: 2;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
  }
  
.intro-image {
    text-align: center;
  }
  
.projects-section {
    padding: 4rem 2rem;
}
  
.projects-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
  
.project-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
  
.project-card:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}